	<nav class="navbar navbar-dark navbar-expand-lg bg-info p-2" *ngIf=" pageName !== '/'">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">ROPRO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" collapse navbar-collapse"  id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto d-none d-lg-inline-flex">
            <li>
              <a routerLink="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>