<div class="container">
    <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6">
                <img class="img-fluid" src="../../../assets/img/pro1.png" alt="..." />
            </div>
            <div class="col-lg-6">
                <div class="bgcss text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-left text-lg-left">
                            <h4 class="text-white">Product 1</h4>
                            <br>
                            <p class="mb-0 text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas tenetur necessitatibus natus esse ducimus cupiditate quam iure voluptatibus rem voluptatum ipsam, praesentium facere hic sequi ipsum aut saepe similique, quaerat veniam laborum. Labore ad accusamus corporis quas placeat commodi laboriosam deleniti magni molestias. Odio voluptatibus quibusdam suscipit tenetur, consequuntur alias?</p>
                            <br>
                            <a href="" class=" btn btn-outline-dark" style="color:white; border-color:black " routerLink="/display">Try now</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
     </div>
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6">
                <img class="img-fluid" src="../../../assets/img/pro2.jpg" alt="..." />
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bgcss2 text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-light">Product 2</h4>
                            <br>
                            <p class="mb-0 text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto mollitia voluptas ad maiores praesentium sunt fugiat eos incidunt voluptatum voluptatibus assumenda libero odit, numquam, animi molestiae necessitatibus earum. Distinctio nulla vel odit voluptates officiis voluptatibus dignissimos illo, adipisci quibusdam ab nesciunt esse ipsum a odio? Ut nesciunt odio in illum?</p>
                            <br>
                            <a href="" class="btn btn-outline-dark" style="color:white; border-color:aqua " routerLink="/display">Try now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    