<div>
    <div class="row gx-0 mb-5 mb-lg-0 justify-content-center bg-image" style="background-image: url('../../../assets/img/fac2.jpg'); background-repeat:no-repeat; height: 50vh">
        <div class="container-fluid col-lg-6 p-0">
            <img class="img-fluid" src="../../../assets/img/greenbox.png" alt="..." />
            <div class="left">
                <h4>Service 1</h4><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Voluptatum aut, illum ullam molestiae vitae velit veniam, inventore <br> molestias porro accusantium eaque at cum nemo ex.</p>
                <a href="" class=" btn btn-outline-dark" style="color:white; border-color:black " routerLink="/display">Try now</a>
            </div>
        </div>  
        <div class="col-lg-6">
        </div>  
    </div>
    <div class="row gx-0 mb-5 mb-lg-0 justify-content-center bg-image" style="background-image: url('../../../assets/img/fac1.jpg'); height: 50vh">
        <div class="col-lg-6 ">
        </div>  
        <div class="container-fluid col-lg-6 p-0">
            <img class="img-fluid" src="../../../assets/img/blackbox.png" alt="..." />
            <div class="right">
                <h4>Service 2</h4><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Voluptatum aut, illum ullam molestiae vitae velit veniam, inventore <br> molestias porro accusantium eaque at cum nemo ex.</p>
                <a href="" class=" btn btn-outline-dark" style="color:white; border-color:aqua "routerLink="/display">Try now</a>
            </div>
        </div>  
    </div>
</div>