<nav class="navbar fixed-top navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><h5>ROPRO</h5></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  ms-auto">
          <button type="button" class="btn btn-outline-dark" style="color:white; border-color:aqua" routerLink="/login">Sign in</button>
        </ul>
      </div>
    </div>
</nav>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/img/bg1.jpg" class="d-block w-100" alt="...">
      <div class="header-text hidden-xs">
        <div class="col-md-12 text-center">
            <h2>
              <span>Welcome to <strong>LOREM IPSUM</strong></span>
            </h2>
            <br>
            <h3>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            </h3>
            <br>
            <span><button type="button" class="btn btn-outline-dark" style="color:aqua; border-color:aqua">Get started</button></span>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/bg2.jpg" class="d-block w-100" alt="...">
      <div class="header-text hidden-xs">
        <div class="col-md-12 text-center">
            <h2>
              <span>Welcome to <strong>LOREM IPSUM</strong></span>
            </h2>
            <br>
            <h3>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            </h3>
            <br>
            <span><button type="button" class="btn btn-outline-dark" style="color:aqua; border-color:aqua">Get started</button></span>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/bg3.jpg" class="d-block w-100" alt="...">
      <div class="header-text hidden-xs">
        <div class="col-md-12 text-center">
            <h2>
              <span>Welcome to <strong>LOREM IPSUM</strong></span>
            </h2>
            <br>
            <h3>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            </h3>
            <br>
            <span><button type="button" class="btn btn-outline-dark" style="color:aqua; border-color:aqua">Get started</button></span>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="title p-2">
  <h3>SERVICES</h3>
  <app-facilities></app-facilities>
</div>
<div class="title p-2">
  <h3>PRODUCTS</h3>
  <app-products></app-products>
</div>
<div class="title p-2">
    <h3>CONTACT</h3>
    <app-contact></app-contact>
</div>

