<footer class="text-center text-white" style="background-color: black" *ngIf=" pageName !== '/cart' && pageName !== '/display'">
      <div class="container">
        <div class="row text-center d-flex justify-content-center pt-3">
            <div class="col-md-2">
              <h6><a  routerLink="/">Home</a></h6>
            </div>
            <div class="col-md-2">
                <h6><a  routerLink="/product">Products</a></h6>
            </div>
            <div class="col-md-2">
                <h6><a class="text-light">ROPRO</a></h6>
            </div>
            <div class="col-md-2">
                <h6><a routerLink="/facilities">Services</a></h6>
            </div>
            <div class="col-md-2">
                <h6><a routerLink="/contact">Contact</a></h6>
            </div>
          </div>
      </div>
      <div class="faded-line">
      </div><br>
      <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2)">
        <p>© 2023 Copyright:Nihil's ng project</p>
      </div>
</footer>